.screen-size-helper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 1.6em;
    font-size: 1em;
    padding: 0.5333333333333333em 0.8em;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}
.screen-size-helper .title,
.screen-size-helper ul {
    color: white;
    text-shadow: 0 1px 0 #000000;
}
.screen-size-helper .title {
    font-size: inherit;
    line-height: inherit;
    float: left;
    text-transform: uppercase;
    font-weight: 500;
}
.screen-size-helper ul {
    float: right;
    margin: 0;
    padding: 0;
    line-height: inherit !important;
}
.screen-size-helper ul li {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: inherit !important;
}
.screen-size-helper ul li.small {
    color: red;
}
.screen-size-helper ul li.medium {
    color: orange;
}
.screen-size-helper ul li.large {
    color: green;
}
.screen-size-helper ul li.extra-large {
    color: yellow;
}
</style>