#topbar { 
    background: #4C9220;
    text-transform: uppercase;
    font-weight: 500;
} 
button#menu-toggle { 
    background:none; 
    border: none; 
    outline: none; 
    position: absolute; 
    top: .7em; right: 8px; 
    padding: 0;
    font-height: 24px;
    color: white; 
}